<form action="/bookmarks/<%=@bookmark.id%>" method="post">
  <label>Update the Bookmark</label><br>
  <input type="hidden" value=<%=@bookmark.id%> name="id"/>
  <input type="hidden" value="PATCH" name="_method"/>

  <label>URL</label>
  <input type="text" name="url" value=<%=@bookmark.url%>><br>
  <label>Title</label>
  <input type="text" name="title" value=<%=@bookmark.title%>><br>
  <input type="submit" value="update bookmark"/>
</form>
